@model WarHammer.Models.Army

<h2>Unit Details</h2>
<hr />

<p>@Html.DisplayNameFor(model => model.Description): @Html.DisplayFor(model => model.Description)</p>
<p>@Html.DisplayNameFor(model => model.Name) : @Html.DisplayFor(model => model.ArmyId)</p>
<p>@Html.DisplayFor(model => model.Units)</p>
